---
layout: default
---
<!-- Schedule Code and Text -->
{% include schedule2022.html title="EightKB 2022 Schedule" %}
<!-- End Schedule Code and Text -->
{% assign pinned_post = site.posts | where: "pin","true" | sort | last %}
{% if pinned_post %}
<p class="post">
    <h1>{{ pinned_post.title }}</h1>
    <div class="entry">
        {{ pinned_post.content }}
    </div>
</p>
{% endif %}

<h1 id="who-is-eightkb">Who is EightKB?</h1>
<ul>
  <li>Andrew Pruski (<a href="https://twitter.com/dbafromthecold">T</a>|<a href="https://dbafromthecold.com/">B</a>)</li>
  <li>Mark Wilkinson (<a href="https://twitter.com/m82labs">T</a>|<a href="https://markw.dev/">B</a>)</li>
  <li>Anthony Nocentino (<a href="https://twitter.com/nocentino">T</a>|<a href="http://www.centinosystems.com/blog">B</a>)</li>
</ul>

<p>We created this event to fill a void in the SQL Server conference line-up. While there are many important topics to discuss and things to learn in the SQL Server world, we want this conference to focus on the core components of SQL Server, the things that make SQL Server work. EightKB is about expert topics, not expert speakers. If you have expert experience about any SQL Server topic, the community wants to hear you speak. If you aren’t yet an expert speaker, we will help you with your abstract and session and even pair you with a mentor if you like. A core goal of this conference is to enable SQL Server professionals to bring their whole selves to the event. In particular, we believe that a diverse and inclusive speaker community is foundational to everyone feeling welcome at our conference.</p>
